<!DOCTYPE html>
<html lang="ru">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Пример формы</title>
</head>

<body>
    <form action="/submit" method="post">
        <label for="question">Введите Ваш вопрос</label>
        <input type="text" id="question" question="question" required>

        <input type="submit" value="Отправить">
    </form>
</body>

</html>